.home {
  background-image: url("../../assets/transparente.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  background-color:#012a50;
  border-radius: 15px;
  width: 250px;
  padding: 8px;
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 32px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-bottom: 20px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 250px;
}

.add {
  background-color:rgb(209, 208, 208);
  border-radius: 15px;
  width: 200px;
  padding: 8px;
  align-self: center;
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 32px;
  color: #012a50;
  text-decoration: none;
  cursor: pointer;
  margin-right: 5px;
}

.remove {
  background-color:rgb(209, 208, 208);
  border-radius: 15px;
  width: 200px;
  padding: 8px;
  align-self: center;
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 32px;
  color: #012a50;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoFit {
  width: 500px;
}