.home {
  background-image: url("../../assets/2.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.container  {
  height: calc(100vh - 87px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.criarTreinoLink {
    position: absolute;
    right: 7vw;
    bottom: 40px;
    background-color: #012a50;
    border-radius: 80px;
    width: 130px;
    padding: 15px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.criarTreinoLink:hover{
    color: #012a50;
    background-color: #fff;
}

.logoJP {
  height: 8vw;
}

.logoFit {
  height: 8vw;
}


/*table*/
@media (max-width: 1024px) {
  
}

/*mobile*/
@media (max-width: 767px) {
  
}