.home {
  background-image: url("../../assets/transparente.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
}

.profile {
  width: 50vw;
  height: calc(100vh - 87px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  background-color:#012a50;
  border-radius: 15px;
  width: 250px;
  padding: 8px;
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.add {
  background-color:rgb(209, 208, 208);
  border-radius: 15px;
  width: 200px;
  padding: 8px;
  align-self: center;
  text-align: center;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 20px;
  color: #012a50;
  text-decoration: none;
}

.logo {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoFit {
  width: 300px;
}