.container {
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 400px;
}

.aluno {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.aluno img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.aluno h3 {
  width: 100%;
  min-width: 108px;
  color: #012a50;
  font-size: 16px;
}

.treino h2 {
  color: #fff;
  background-color: #012a50;
  margin: 0;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
}

.treino {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
