.register {
  background-image: url("../../assets/4.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  height: calc(100vh - 87px);
  align-items: center;
  justify-content: center;
}

.contentForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  gap: 20px;
}

.contentForm > h1 {
  font-size: 30px;
  margin: 0;
  color: #ffffff;
  letter-spacing: -1px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tel {
  display: flex;
  gap: 20px;
}

.tel input {
  width: 100%;
}
.tel input:nth-last-of-type(2) {
  width: 50px;
}

.contetForm {
  width: 70px;
}

.editarLink {
  background-color: #fff;
  border-radius: 15px;
  width: 130px;
  padding: 8px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 18px;
  color: #012a50;
  text-decoration: none;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
}

.login {
  font-size: 16px;
  margin: 0;
  color: #ffffff;
}

.loginLink {
  color: #ffffff;
}

.logo {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoFit {
  width: 300px;
}

@media (max-width: 1024px) {
  .logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .contentForm {
    width: 300px;
  }
  .contentForm > h1 {
    font-size: 30px;
  }

  .form {
    width: 300px;
  }
}
