
.container {
  height: calc(100vh - 87px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoNome {
  width: 300px;
}

.menus {
  display: flex;
  gap: 15px;
  margin: 15px;
}

.menus button {
  color: #012a50;
  background-color: #fff;
  width: 180px;
  border-radius: 20px;
  border: 3px solid #012a50;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.menus button:hover,
.linkMenu:hover {
  cursor: pointer;
  background-color: #012a50;
  color: white;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.paginacao {
  border: 0;
  background-color: #012a50;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  text-decoration: none;
  margin: 5px;
}

.alunosList {
  max-width: 560px;
  max-height: 330px;
  background-color: rgb(241, 240, 240);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  gap: 20px;
  padding: 10px 20px;
  min-height: 275px;
  overflow-y: auto;
}



.aluno {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.aluno img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.aluno h2 {
  width: 50%;

  color: #012a50;
  font-size: 16px;
}

.aluno button {
  border: 0;
  background-color: #012a50;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  width: 150px;
}

.icon {
  display: none;
}

.linkMenu {
  color: #012a50;
  text-decoration: none;
  border-radius: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
  width: 100%;
}

@media (max-width: 767px) {
  .logoNome {
    width: 200px;
  }
 
  .container > h1 {
    font-size: 16px;
  }

  .alunosList {
    width: 70%;
  }

  .menus button {
    width: 100px;
    border-radius: 20px;
    border: 3px solid #012a50;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
  }

  .aluno img {
    width: 25px;
    height: 25px;
  }
  .aluno h2 {
    font-size: 12px;
  }
  .aluno button {
    font-size: 10px;
    display: none;
  }
  .icon {
    display: inline;
  }

  .linkMenu button {
    height: 100%;
  }
}
